


@* <div style="padding-top:10px; padding-bottom:10px; min-width:100%"> *@
<FluentToolbar id="toolbar-fluent-components-two" style="width:100%; border-radius: 5px; padding: 5px; margin-bottom:25px;">

        <h4 slot="label" style="margin-right:10px; padding-top:5px; padding-left:5px">@Title</h4>


    </FluentToolbar>
@* </div> *@


@code {
    [Parameter] public string Title { get; set; }
}